.so-widget-sow-slider-default-2bf0a2418bdd .sow-slider-base .sow-slider-pagination li a {
  background: #eded00;
}
.so-widget-sow-slider-default-2bf0a2418bdd .sow-slider-base .sow-slide-nav {
  font-size: 30px;
}
.so-widget-sow-slider-default-2bf0a2418bdd .sow-slider-base .sow-slide-nav a {
  color: #eded00;
}