.so-widget-sow-headline-sow-headline-0d98be40254f #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-0d98be40254f #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-0d98be40254f #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}